zips/3.3+Image+Elements.zip
zips/3.4+Birthday+Invite+Project.zip
zips/4.3+HTML+Portfolio+Project.zip
zips/4.0+File+Paths.zip
zips/4.1+Webpages.zip
zips/python-3.13.2-amd64.exe
zips/scoped_dir4560_285072119/python-3.13.2-amd64.exe
zips/scoped_dir4560_962640188/python-3.13.2-amd64.exe
zips/4.3 HTML Porfolio Project/assets/images/movie-ranking.png
4.3 HTML Porfolio Project/goal.png
zips/5.3+CSS+Selectors.zip
