html{
    background-color: black;
}

h1 {
    font-family:"Libre Baskerville";
    color: white;
    align-items: center;
}

p {
    color: white;
    font-family: "Libre Baskerville";
}
img{
    size: 100%;
    border: 5px solid white;
}
div{
    text-align: center;
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
    
}